<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.stone.system.mapper.SysRoleMapper">
    <!--public IPage<SysRole> selectPage(Page<SysRole> pageParam,@Param("vo") SysRoleQueryVo sysRoleQueryVo);-->
    <resultMap id="RoleMap" type="com.stone.model.system.SysRole" autoMapping="true"></resultMap>
    <select id="selectPage" resultMap="RoleMap">
        SELECT id, role_name, role_code, description, create_time, update_time, is_deleted
        from sys_role sr
        <where>
            <if test="vo.roleName != null and vo.roleName != ''">
                and role_name like CONCAT('%',#{vo.roleName},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>